.cta {
  height: 52rem;
  width: 100vw;
  background-color: var(--light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    & p {
      padding-bottom: 2rem;
    }
  }
}
